@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/jetbrains-mono";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.625rem;

  --background:         #10041c;
  --foreground:         #ffffff;

  --card:               #10041c;
  --card-foreground:    #ffffff;

  --popover:            #0B2859;
  --popover-foreground: #ffffff;

  --primary:            #00001f;
  --primary-foreground: #ffffff;

  --secondary:          #0B2859;
  --secondary-foreground: #ffffff;

  --muted:              #0B2859;
  --muted-foreground:   rgba(255, 255, 255, 0.4);

  --accent:             #195AB4;
  --accent-foreground:  #ffffff;

  --destructive:        #ef4444;

  --border:             rgba(255, 255, 255, 0.15);
  --input:              rgba(255, 255, 255, 0.15);
  --ring:               #195AB4;
}

body {
  margin: 0;
}

#root {
  min-height: 100svh;
}

@theme inline {
  --font-mono: 'JetBrains Mono Variable', monospace;

  --color-background:         var(--background);
  --color-foreground:         var(--foreground);
  --color-card:               var(--card);
  --color-card-foreground:    var(--card-foreground);
  --color-popover:            var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted:              var(--muted);
  --color-muted-foreground:   var(--muted-foreground);
  --color-accent:             var(--accent);
  --color-accent-foreground:  var(--accent-foreground);
  --color-destructive:        var(--destructive);
  --color-border:             var(--border);
  --color-input:              var(--input);
  --color-ring:               var(--ring);

  --color-primary:         #000000;
  --color-secondary:       #0B2859;
  --color-contrast:        #6BAAFF;
  --color-low-contrast:    #195AB4;
  --color-purple-contrast: #301CA0;
  --color-dark-purple:     #211832;
  --color-whine:           #720455;

  --radius-sm:  calc(var(--radius) * 0.6);
  --radius-md:  calc(var(--radius) * 0.8);
  --radius-lg:  var(--radius);
  --radius-xl:  calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    font-family: "Playfair Display", serif;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Playfair Display", serif;
  }
  h1, h2, h3 {
    font-family: "Playfair Display", serif;
  }
}
